In [ ]:
# should create a separate workbook 2.5. where I conduct the network analysis properly in Python --> also calculate weighted degree within communities

In [ ]:
#check whether I can still get the missing 1525 publications

In [8]:
from Bio import SeqIO
from collections import Counter
import pandas as pd 
import re
import requests
import json
import time
import glob
import pprint
import seaborn as sns
import pylab as plt
from matplotlib.ticker import MaxNLocator
from matplotlib.colors import ListedColormap
import pycountry 
import pycountry_convert as pc
pp = pprint.PrettyPrinter()
import numpy as np
from tabulate import tabulate
import geopandas as gpd
from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
import regex as re
import plotly.graph_objects as go
import os

from string import punctuation
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords
stemmer=SnowballStemmer("english")
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
import math

import networkx as nx
#from fa2 import ForceAtlas2
#import community as community_louvain  # For Louvain method

from collections import defaultdict
from itertools import combinations


%env folder = X:\5_Research\Paul\dsi_origins\

env: folder=X:\5_Research\Paul\dsi_origins\

In [10]:
path = %env folder

In [4]:
df_communities_full = pd.read_csv(path+R'processed_data\co_word_network_+2tfidf_backbone_90_communities_3.csv', index_col = 0)#.dropna()

In [5]:
Counter(df_communities_full['modularity_class']).most_common()

[(1, 8847), (0, 8420), (3, 7412), (2, 4)]

In [5]:
#drop the one tiny community
top_communities = [3,0,1]
df_communities = df_communities_full[df_communities_full['modularity_class'].isin(top_communities)].rename(columns = {'Label':'word','modularity_class':'community','Weighted Degree':'weighted_degree'})#[~df_communities_full['community'].isin([23,22,13])]

In [7]:
df_communities.sort_values('weighted_degree', ascending = False)

,word,timeset,weighted_degree,community,componentnumber
Id,,,,,
hiv1,hiv1,NaN,4235,3,0
hepatitis,hepatitis,NaN,4219,3,0
distribution,distribution,NaN,4080,0,0
influenza,influenza,NaN,3991,3,0
effect,effect,NaN,3595,1,0
...,...,...,...,...,...
tigurinus,tigurinus,NaN,1,3,0
smallcolony,smallcolony,NaN,1,3,0
asiapacific,asiapacific,NaN,1,0,0
empyema,empyema,NaN,1,1,0
arenaviruses,arenaviruses,NaN,1,3,0

In [8]:
#reduce to top 10 words per community
top_com_words = []
for com in top_communities: 
    top_com_words.extend(list(df_communities[df_communities['community'] == com].sort_values('weighted_degree', ascending = False)['word'].values)[:20])

In [9]:
df_communities_topwords = df_communities[df_communities['word'].isin(top_com_words)]

In [14]:
df_communities_topwords[df_communities_topwords['community'] == 3]

                    word  timeset  weighted_degree  community  componentnumber
Id
hiv                  hiv      NaN             2808          3                0
highly            highly      NaN             2622          3                0
hiv1                hiv1      NaN             4235          3                0
response        response      NaN             3260          3                0
multiple        multiple      NaN             2627          3                0
case                case      NaN             2848          3                0
comparison    comparison      NaN             2853          3                0
respiratory  respiratory      NaN             2931          3                0
syndrome        syndrome      NaN             2327          3                0
hepatitis      hepatitis      NaN             4219          3                0
province        province      NaN             2455          3                0
influenza      influenza      NaN             3991          3                0
outbreak        outbreak      NaN             3075          3                0
sequencing    sequencing      NaN             2997          3                0
reveals          reveals      NaN             2710          3                0
sample            sample      NaN             3028          3                0
viral              viral      NaN             3514          3                0
united            united      NaN             2411          3                0
state              state      NaN             2945          3                0
vaccine          vaccine      NaN             2661          3                0

In [15]:
# start with pmid data
with open(path+R'processed_data\word_id_dict_+2_tfidf.json') as json_string:
    word_id_dict = json.load(json_string)

In [16]:
word_list = list(df_communities['word'].dropna())

pubs = []
communities = []
words = []

for word in word_list:
    community = list(df_communities['community'][df_communities['word'] == word])[0]
    for pub_id in word_id_dict[word]:
        pubs.append(pub_id)
        communities.append(community)
        words.append(word)

In [32]:
df_communities['community'][df_communities['word'] == word]

Series([], Name: community, dtype: int64)

In [18]:
len(set(pubs))

97555

In [19]:
df_sem = pd.DataFrame(zip(pubs, communities, words)).reset_index().rename(columns = {1:'community', 0: 'id_select', 2:'word'})

grouped = df_sem.groupby(['id_select','community']).size().reset_index(name='count')
most_frequent = grouped.loc[grouped.groupby('id_select')['count'].idxmax()]

In [20]:
words_sel_dict = {}
for pub in set(df_sem['id_select']): 
    words_sel = list(df_sem['word'][df_sem['id_select'] == pub])
    words_sel_str = ''
    for word in words_sel: 
        if words_sel_str == '': 
            words_sel_str = word
        else: 
            words_sel_str = words_sel_str+', ' +word
    words_sel_dict[pub] = words_sel_str

In [21]:
most_frequent['words_sel'] = most_frequent['id_select'].map(words_sel_dict)

In [ ]:
semantic_dict_3 = {
    0: 'Evolutionary biology',
    1: 'Molecular biology',
    3: 'Public health'}

In [ ]:
#semantic_dict_6 = {
#    3: 'Evolutionary biology',
#    0: 'Molecular biology',
#    1: 'Public health, respiratory diseases',
#    2: 'Agriculture and diseases',
#    5: 'Public health, viruses, vaccine'
#    7: 'Public health, bacteria'}

In [23]:
most_frequent[most_frequent['community'] ==3].sort_values('count', ascending = False)[:20]

,id_select,community,count,words_sel
61429,22345466.0,3,21,"mucosal, envelope, repeat, correlate, acquisit..."
49773,21044670.0,3,21,"clone, protective, attenuate, subtypes, nonpat..."
147418,36129562.0,3,19,"coinfection, dog, rate, detect, parvovirus, se..."
166661,pmc4524230,3,18,"express, interferon, alpha, highly, multiple, ..."
166008,pmc4432077,3,18,"method, antifungal, laser, matrixassisted, fli..."
29559,17998550.0,3,17,"h6, reverse, transcription, subtypes, rapid, r..."
39917,19605490.0,3,17,"highly, hiv1, replication, recombinant, clinic..."
93341,25976382.0,3,17,"level, occur, loss, baseline, antiviral, corre..."
22565,16806600.0,3,17,"induce, response, immune, mouse, antigen, falc..."
72532,23578709.0,3,17,"syndrome, sus, multisystemic, bocalike, postwe..."
106536,27626934.0,3,17,"lethal, chimeric, allow, particle, animal, chi..."
98639,26560541.0,3,17,"biochemical, method, laboratory, system, laser..."
14399,15194768.0,3,17,"identifies, tissue, envelope, biological, r5, ..."
38346,19409946.0,3,16,"exhibit, present, occur, expand, hiv1, amino, ..."
85368,25019170.0,3,16,"nucleotide, green, comparison, sybr, rapid, re..."
4117,10400762.0,3,16,"herpesvirus, major, across, multiple, locus, c..."
109810,28243803.0,3,16,"could, coinfection, form, norovirus, severe, e..."
88984,25445343.0,3,16,"interferon, response, hcv, amino, ribavirin, i..."
35880,19075055.0,3,16,"ccr5, reverse, envelope, nucleoside, combinati..."
68866,23177564.0,3,16,"frequent, persistent, low, occurrence, respira..."

In [177]:
Counter(df_sem['word'][df_sem['community'] == 3])#.sort_values('count', ascending = False)

Counter({'class': 456,
         'pneumoniae': 390,
         'element': 349,
         'antibiotic': 351,
         'chromosome': 261,
         'resistant': 287,
         'carry': 278,
         'streptococcus': 366,
         'bacteriophage': 407,
         'escherichia': 853,
         'hospital': 342,
         'mycobacterium': 331,
         'acinetobacter': 367,
         'klebsiella': 363,
         'phage': 364,
         'plasmid': 693,
         'salmonella': 309,
         'subsp': 331,
         'pseudomonas': 880,
         'vibrio': 417})

In [25]:
#get the original titles with the id selects
df_scholarly = pd.read_csv(path+R'processed_data\scholarly_aff_country.csv', index_col = 0)

<ipython-input-25-f4e683916dd1>:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_scholarly = pd.read_csv(path+R'processed_data\scholarly_aff_country.csv', index_col = 0)

In [26]:
df_id_title = df_scholarly[['id_select', 'title']].drop_duplicates()

In [ ]:
df_id_title.to_csv(path+R'processed_data\id_title_dict.csv')

In [28]:
most_frequent

,id_select,community,count,words_sel
0,10.1002/ece3.2809,0,6,"change, environment, photobiont, lichen, accli..."
3,10.1002/jpln.201100382,1,2,"involve, fertilization, potentially"
5,10.1002/jsfa.8281,1,5,"ensifer, symbiovar, nodulates, vigna, unguiculata"
7,10.1002/mbo3.47,1,4,"cold, gulf, metazoan, seep, site, chemosynthet..."
9,10.1002/mrd.22210,0,2,"giant, interact, able, oocyte, erk, starfish"
...,...,...,...,...
187368,pmc93297,1,3,"iron, across, cyanobacterial, deficiency, probe"
187370,pmc93301,1,3,"active, nitriteoxidizing, situ, treatment"
187373,pmc96788,3,7,"express, major, borrelia, blood, tissue, mouse..."
187375,pmc97813,3,4,"diverse, escherichia, iv, enteropathogenic, pilin"
187376,pmc98260,0,3,"major, tick, anaplasma, antigenic, marginale, ..."

In [29]:
df_id_title

         id_select                                              title
0       32373149.0  Evolution and Expression of Reproductive Trans...
4       19763271.0  Limited neutralizing antibody specificities dr...
14      29324085.0  Hyperparasitism of an Avian Ectoparasitic Hipp...
18      30727098.0  First Report of Amphobotrys ricini Causing Gra...
23      10406114.0  The divergence-homogenization duality in the e...
...            ...                                                ...
447178  pmc1590031  Development and validation of a bovine macroph...
447188  pmc4766875  Borrelia miyamotoi and Candidatus Neoehrlichia...
447204  pmc1352205  Real-time PCR for the detection and quantifica...
447207  pmc6296573  Purification and characterization of lipase by...
447211  pmc3218519  Comparative Study of different msDNA (multicop...

[99179 rows x 2 columns]

In [30]:
#merge original title with id_select
community_analysis = pd.merge(most_frequent,df_id_title, how = 'left')

In [31]:
community_analysis

,id_select,community,count,words_sel,title
0,10.1002/ece3.2809,0,6,"change, environment, photobiont, lichen, accli...",Lichen acclimation to changing environments: P...
1,10.1002/jpln.201100382,1,2,"involve, fertilization, potentially",Characterization of new soil thermophilic bact...
2,10.1002/jsfa.8281,1,5,"ensifer, symbiovar, nodulates, vigna, unguiculata",A novel symbiovar (aegeanense) of the genus En...
3,10.1002/mbo3.47,1,4,"cold, gulf, metazoan, seep, site, chemosynthet...",Diversity of symbioses between chemosynthetic ...
4,10.1002/mrd.22210,0,2,"giant, interact, able, oocyte, erk, starfish","SGEBP, a giant protein from starfish oocytes a..."
...,...,...,...,...,...
97550,pmc93297,1,3,"iron, across, cyanobacterial, deficiency, probe",Detection of the isiA Gene across Cyanobacteri...
97551,pmc93301,1,3,"active, nitriteoxidizing, situ, treatment",In Situ Characterization of Nitrospira-Like Ni...
97552,pmc96788,3,7,"express, major, borrelia, blood, tissue, mouse...",Characterization of VspB of Borrelia turicatae...
97553,pmc97813,3,4,"diverse, escherichia, iv, enteropathogenic, pilin",Molecular variation among type IV pilin (bfpA)...
97554,pmc98260,0,3,"major, tick, anaplasma, antigenic, marginale, ...",Antigenic Variation of Anaplasma Marginale: Ma...

In [193]:
community_analysis['title'][3]

'Molecular phylogeny and DNA barcoding of tropical eastern Pacific shallow-water gorgonian octocorals'

In [39]:
community_analysis.to_csv(path+R'processed_data\community_analysis_3.csv')

In [32]:
# add the communities to the regression dataframe
df_extract = pd.read_csv(path+R'processed_data\extractivism_test.csv', index_col = 0)

In [36]:
df_extract_com = pd.merge(df_extract, community_analysis[['id_select','community']], how = 'left')

In [38]:
df_extract_com.to_csv(path+R'processed_data\extractivism_com3.csv')

In [28]:
df_extract_com[df_extract_com['community'].notna()]

,id_select,extractivism_oecd_1,extractivism_brics_1,extracts_oecd_2_test,extractivism_brics_2,cooperation_oecd_1,cooperation_brics_2,community
0,10.1002/ece3.2809,1.0,0.0,1,0,0,0,0.0
1,10.1002/jpln.201100382,0.0,0.0,0,0,0,0,1.0
2,10.1002/jsfa.8281,0.0,0.0,0,0,0,0,1.0
3,10.1002/mbo3.47,1.0,0.0,1,0,0,0,1.0
4,10.1002/mrd.22210,0.0,0.0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...
95403,pmc93297,1.0,0.0,1,0,0,0,1.0
95404,pmc93301,0.0,0.0,0,0,0,0,1.0
95405,pmc96788,0.0,0.0,0,0,0,0,3.0
95406,pmc97813,1.0,0.0,1,0,0,0,3.0
95407,pmc98260,0.0,0.0,0,0,0,0,0.0

### trash

In [ ]:

df_grtype_scholarly_filt = df_grtype_scholarly[['pub_id_sel','GROUP_dsi','GROUP_lit']]
df_grtype_scholarly_semantics = pd.merge(df_grtype_scholarly, most_frequent[['pub_id_sel','sem_community']], on = 'pub_id_sel', how = 'inner')

In [ ]:

semantic_dict = {
    10: 'Public health',
    4: 'Evolutionary biology',
    1: 'Environmental microbiology',
    2: 'Molecular biology',
    14: 'Species identification',
    6: 'Agriculture and diseases',
    -2: 'No semantic leaning'
}

df_grtype_scholarly_semantics['semantic_name'] = df_grtype_scholarly_semantics['sem_community'].map(semantic_dict)

# semantics
# Get unique types of 'semantics' after dropping NaNs
semantics = sorted(set(df_grtype_scholarly_semantics['semantic_name'].dropna()))

# Number of subplots
n = len(semantics)

# Calculate rows and columns for the grid
n_cols = 2
n_rows = (n + 1) // n_cols  # Ensures correct number of rows for odd n

# Create subplots with 2 rows and multiple columns
fig, axes = plt.subplots(n_rows, n_cols, figsize=(10, 10), sharey=False)

# Flatten axes array for easier iteration
axes = axes.flatten()

# Set the theme for the plot
sns.set_theme(style="darkgrid")

# Define the palette for the different groups
palette = {"G77": "tab:purple", "OECD": "tab:blue", "BRICS": "tab:red"}

for i, semantic in enumerate(semantics):
    vis_df_subgroup = df_grtype_scholarly_semantics[df_grtype_scholarly_semantics['semantic_name'] == semantic]
    vis_df_subgroup_count1pg = vis_df_subgroup[['pub_id_sel','GROUP_dsi','GROUP_lit']].drop_duplicates().rename(columns = {'GROUP_dsi':'GROUP_dsi'}).reset_index(drop=True).sort_values(['GROUP_lit'], ascending = False)

    sns.countplot(
        data=vis_df_subgroup_count1pg,
        x="GROUP_dsi", 
        hue="GROUP_lit",
        order = ['OECD','BRICS','G77'],
        palette=palette, 
        ax=axes[i]
    )

    # Set labels and title
    axes[i].set_title(semantic, fontsize=14)
    axes[i].set_xlabel('GROUP_dsi (providers)', fontsize=12)
    axes[i].set_ylabel('Count', fontsize=12)
    axes[i].tick_params(axis='x', labelsize=10)
    axes[i].tick_params(axis='y', labelsize=10)

# Hide any unused subplots
for j in range(i + 1, len(axes)):
    axes[j].set_visible(False)

plt.tight_layout()

# Save the combined figure
plt.savefig(path + R'plots\coo_cor_combined_semantic.svg', format="svg")
plt.savefig(path + R'plots\coo_cor_combined_semantic.jpg', format="jpg")

plt.show()