In [ ]:
# add viruses as I accidently deleted them

In [ ]:
#8.11. so some IDs seems to have been collected badly, need to check that

In [4]:
from Bio import SeqIO
from collections import Counter
import pandas as pd 
import re
import requests
import json
import time
import glob
import pprint
import seaborn as sns

from matplotlib.ticker import MaxNLocator
from matplotlib.colors import ListedColormap
import pycountry 
import pycountry_convert as pc
pp = pprint.PrettyPrinter()
import numpy as np
from tabulate import tabulate
import geopandas as gpd
from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
import regex as re
import plotly.graph_objects as go
import os

import plotly.express as px

%env folder = X:\5_Research\Paul\dsi_origins\

env: folder=X:\5_Research\Paul\dsi_origins\

In [5]:
#define path
path = %env folder

In [8]:
df_wildsi_idselect = pd.read_csv(path + R'processed_data\wildsi_idselect.csv', index_col = 0)

C:\Users\a494-nipw010\AppData\Local\Temp\ipykernel_9384\4261549575.py:1: DtypeWarning: Columns (3,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_wildsi_idselect = pd.read_csv(path + R'processed_data\wildsi_idselect.csv', index_col = 0)

In [9]:
df = df_wildsi_idselect.drop(columns = ['COUNTRY']).drop_duplicates().reset_index(drop = True)

### 1. label taxon type

In [11]:
df_species = pd.read_csv(path+R'processed_data\2024-08-28_df_wildsi_with_ncbi_lineage.csv')

In [12]:
df_taxid_skingdom= df_species[['Taxid','Superkingdom name']].drop_duplicates()
taxid_skingdom_dict = dict(zip(list(df_taxid_skingdom['Taxid']),list(df_taxid_skingdom['Superkingdom name']))) 
df['skingdom'] = df['TAXID'].map(taxid_skingdom_dict)

In [13]:
df_taxid_species= df_species[['Taxid','Species name']].drop_duplicates()
taxid_species_dict = dict(zip(list(df_taxid_species['Taxid']),list(df_taxid_species['Species name']))) 
df['species'] = df['TAXID'].map(taxid_species_dict)

In [14]:
df_taxid_genus= df_species[['Taxid','Genus name']].drop_duplicates()
taxid_genus_dict = dict(zip(list(df_taxid_genus['Taxid']),list(df_taxid_genus['Genus name']))) 
df['genus'] = df['TAXID'].map(taxid_genus_dict)

In [15]:
df_taxid_class= df_species[['Taxid','Class name']].drop_duplicates()
taxid_class_dict = dict(zip(list(df_taxid_class['Taxid']),list(df_taxid_class['Class name']))) 
df['class'] = df['TAXID'].map(taxid_class_dict)

### 2. label political context

In [17]:
#get crops data
#df_crop_genus = pd.read_csv(path+R'raw_data\mapping_TREATY_ANNEX1_to_NCBI_GENUS.csv') #these taxids do not result in any matches as they are too broad --> need to use the subspecies dataset
df_crop_genus_sub = pd.read_csv(path+R'raw_data\subtaxa_for_TREATY_ANNEX1_in_NCBI.cvs.csv')

In [18]:
crop_list = list(df_crop_genus_sub['NCBI_GENUS_SUB_TAXID'])
taxid_list = list(df['TAXID'])

In [19]:

crop_labels = [1 if x in crop_list else 0 for x in taxid_list]

df['crops'] = crop_labels

In [20]:
# pathogens
df_pathogens = pd.read_excel(path+R'raw_data\pathogens.xls')
pathogens_list = list(df_pathogens['TAXID'])

pathogen_labels = [1 if x in pathogens_list else 0 for x in taxid_list]

df['pathogens'] = pathogen_labels

In [21]:
# open the patent marine species data
df_pat = pd.read_excel(R'X:\5_Research\Paul\data\Patent_species_v4.xlsx')

# open the species data
df_pat_m = df_pat[df_pat['Marine YES'] == 'X'] 

#prepare the species names
pat_species_raw = list(set(df_pat_m['ScientificName_accepted'].dropna()))

# take > out
pat_species_ls = [x.split()[0] if ">" in x else x for x in pat_species_raw]

pat_cleaned_species_dup = []
for organism in pat_species_ls:
        if '(' in organism and len(organism.split()) >= 3: 
            print(organism)

#1) If two words, query it as it's written
#2) If one word, add either "sp." (one species) or "spp." (mix of species), it is used for cases when species have not been identified fully. Be aware that the dot after the abbreviation could be missing.
#3) If three words, query it as it's written, and shorten it to two words if you retrieve zero results --> it would never be the case. so I will do both three words and the two word version right away



## prepare: 2 words = 2 words; 1 word = word+ sp; 3 words == 3 words + 2 words
pat_cleaned_species_dup = []
for organism in pat_species_ls:
        #print(organism)

        #1 word = word+ sp:
        if len(organism.split()) == 1:
            pat_cleaned_species_dup.append(organism+' sp')
            #print('edited: '+organism+' sp')
        #3+ words == 3+ words + 2 words
        elif len(organism.split()) >= 3: 
            pat_cleaned_species_dup.append(organism)
            #print('edited: '+organism)
            pat_cleaned_species_dup.append(" ".join(organism.split()[:2])) #reduce to first two words
            #print('edited: '+" ".join(organism.split()[:2]))
            
        #2 words = 2 words
        else: 
            pat_cleaned_species_dup.append(organism)
            #print('edited: '+organism)


## take away dubplicates
pat_cleaned_species = sorted(list(set(pat_cleaned_species_dup)))



####################
#get Obis data
df_obis = pd.read_csv(R'X:\5_Research\Paul\data\WoRMS_marine_species.csv')


cleaned_species_dup_obis = []
for organism in df_obis['scientificName']:
        #print(organism)

        #1 word = word+ sp:
        if len(organism.split()) == 1:
            #print(organism)
            cleaned_species_dup_obis.append(organism+' sp')
            #print('edited: '+organism+' sp')
        
        #2 if '()' type name, just delete the brackets
        elif '(' in organism and len(organism.split()) >= 3:
            #print(organism)
            #print('edited: '+(" ".join(list(organism.split()[i] for i in (0,2)))))
            cleaned_species_dup_obis.append((" ".join(list(organism.split()[i] for i in (0,2)))))
            
        #3+ words == 3+ words + 2 words
        elif len(organism.split()) >= 3 and '(' not in organism: 
            #print(organism)
            cleaned_species_dup_obis.append(organism)
            #print('edited: '+organism)
            cleaned_species_dup_obis.append(" ".join(organism.split()[:2])) #reduce to first two words
            #print('edited: '+" ".join(organism.split()[:2]))
            
        #2 words = 2 words
        elif len(organism.split()) == 2: 
            cleaned_species_dup_obis.append(organism)
            #print('edited: '+organism)
        
        else: 
            print('AJJJJJJJJJJJJJ')
            #print(organism)


## take out duplicates
cleaned_species_obis = sorted(list(set(cleaned_species_dup_obis)))
            

#############
#merge marine species strings together
complete_marine_species = cleaned_species_obis + pat_cleaned_species





############
#match marine species strings with organism name in WILDSI
# for now I am merging directly with ENA because there are more matches than with the standardized taxonomic names. but have to improve that anyway
species_names_set = set(df['ORGANISM'])

matching_species_edited =  [x for x in complete_marine_species if x in species_names_set]

#only obis
#len([x for x in cleaned_species_obis if x in species_names_set])

#only patent
#len([x for x in pat_cleaned_species if x in species_names_set])

#len(species_names_set)

marine_dict = {}
count = 1
for spec in species_names_set:
    if spec in matching_species_edited: 
        marine_dict[spec] = 1
    else: 
        marine_dict[spec] = 0
    count = count+1
    if count == 300000: 
        print(300000)
    if count == 600000:
        print(600000)
    if count == 1200000:
        print(1200000)

df['marine'] = df['ORGANISM'].map(marine_dict) 


#if using the standardized taxons
#df_final = pd.merge(df, df_species[['Taxid','marine']].rename(columns = {'Taxid':'TAXID'}), on = 'TAXID', how = 'left')
#df_final

Oikopleura (Vexillaria) dioica
Halichondria (Halichondria) okadai
Doryteuthis (Amerigo) pealeii
Holothuria (Mertensiothuria) leucospilota
Sipunculus (Sipunculus) nudus
Lepas (Anatifa) anatifera
300000
600000
1200000

In [22]:
#erik's selection --- need to create the datasets first
df_iucn = pd.read_csv(path+r'raw_data/2024-12-11_IUCN_global_assessment_all_categories_simple_summary.csv', index_col = 0)
df_wildsi_and_ncbi = pd.read_csv(path+r'processed_data/2024-08-28_df_wildsi_with_ncbi_lineage.csv', index_col = 0)

df_wildsi_and_ncbi_only_species = df_wildsi_and_ncbi[df_wildsi_and_ncbi['Rank'] == 'SPECIES']
df_wildsi_and_ncbi_only_species_with_iucn_categories = df_wildsi_and_ncbi_only_species[(df_wildsi_and_ncbi_only_species['CODE'] == 'PLN') | (df_wildsi_and_ncbi_only_species['Kingdom name'].isin(['Metazoa', 'Fungi']))]

category_mapping = {  
    'Critically Endangered': 'Threatened',  
    'Endangered': 'Threatened',  
    'Vulnerable': 'Threatened',  
    'Near Threatened': 'Lower Risk',  
    'Least Concern': 'Lower Risk',  
    'Data Deficient': 'Lower Risk',
    'Lower Risk/least concern': 'Lower Risk',
    'Lower Risk/near threatened': 'Lower Risk',
    'Lower Risk/conservation dependent': 'Lower Risk',
    'Extinct': 'Extinct',  
    'Extinct in the Wild': 'Extinct',
    'Data Deficient': 'Data Deficient',
    'Not assessed': 'Not assessed'
}  

df_iucn_selected = df_iucn[['internalTaxonId', 'scientificName', 'populationTrend', 'redlistCategory']]
df_iucn_selected.columns = ['internalTaxonId', 'Species name', 'populationTrend', 'redlistCategory']
df_ncbi_lineage_with_iucn = pd.merge(df_wildsi_and_ncbi_only_species_with_iucn_categories, df_iucn_selected, on='Species name', how='left')
df_ncbi_lineage_with_iucn['redlistCategory'].fillna('Not assessed', inplace=True)
df_ncbi_lineage_with_iucn_assessed = df_ncbi_lineage_with_iucn
df_ncbi_lineage_with_iucn_assessed = df_ncbi_lineage_with_iucn[df_ncbi_lineage_with_iucn['redlistCategory'] != 'Not assessed']
df_ncbi_lineage_with_iucn_assessed['Aggregated_Category'] = df_ncbi_lineage_with_iucn_assessed['redlistCategory'].map(category_mapping)

C:\Users\a494-nipw010\AppData\Local\Temp\ipykernel_9384\3873053496.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_ncbi_lineage_with_iucn['redlistCategory'].fillna('Not assessed', inplace=True)
C:\Users\a494-nipw010\AppData\Local\Temp\ipykernel_9384\3873053496.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ncbi_lineage_with_iucn_assessed['Aggregated_Category'] = df_ncbi_lineage_with_iucn_assessed['redlistCategory'].map(category_mapping)

In [23]:
marine_phyla = ['Arthropoda', 'Mollusca', 'Cnidaria', 'Annelida', 'Echinodermata', 'Chordata']
Arthropoda_groups = ['crustaceans', 'amphipods', 'isopods', 'horseshoe crabs']
Mollusca_groups = ['gastropods', 'bivalves', 'cephalopods']
Cnidaria_groups = ['stony corals', 'hydrozoans', 'blue corals', 'soft corals', 'sea pens', 'sea anemones', 'mat anemones']
Annelida_groups = ['segmented worms']
Echinodermata_groups = ['sea cucumbers', 'starfish', 'sea urchins']
Chordata_groups = ['bony fishes', 'sharks & rays', 'turtles', 'whales & dolphins', 'chimaeras', 'lampreys', 'hagfishes', 'even-toed ungulates & whales', 'coelacanths', 'lungfishes']

#df_ncbi_lineage_with_iucn_assessed_arthropoda['Group name'].value_counts()

phylum_groups = {  
    'Arthropoda': Arthropoda_groups,  
    'Mollusca': Mollusca_groups,  
    'Cnidaria': Cnidaria_groups,  
    'Annelida': Annelida_groups,  
    'Echinodermata': Echinodermata_groups,  
    'Chordata': Chordata_groups  
}  

# Filter the DataFrame based on phylum and group names  
marine_DSI = df_ncbi_lineage_with_iucn_assessed[  
    df_ncbi_lineage_with_iucn_assessed['Phylum name'].isin(marine_phyla) &   
    df_ncbi_lineage_with_iucn_assessed['Group name'].isin(  
        [group for groups in phylum_groups.values() for group in groups]  
    )  
]  


#Label df with the marine_alternativ label
complete_marine_species_alt = marine_DSI['ORGANISM']
matching_species_edited_alt =  [x for x in complete_marine_species_alt if x in species_names_set]

marine_alt_dict = {}
count = 1
for spec in species_names_set:
    if spec in matching_species_edited_alt: 
        marine_alt_dict[spec] = 1
    else: 
        marine_alt_dict[spec] = 0
    count = count+1
    if count == 300000: 
        print(300000)
    if count == 600000:
        print(600000)
    if count == 1200000:
        print(1200000)

df['marine_alt'] = df['ORGANISM'].map(marine_alt_dict)

300000
600000
1200000

In [24]:
#compare both marine and marine_alt versions
all_marine_species = list(set(list(complete_marine_species_alt) + complete_marine_species))

In [25]:
len(complete_marine_species_alt)

15708

In [26]:
len(complete_marine_species)

132083

In [27]:
len(all_marine_species)

141059

In [28]:
#label all marine species (merge of old marine species list and new one created by Erik) 
matching_species_edited_all =  [x for x in all_marine_species if x in species_names_set]

marine_all_dict = {}
count = 1
for spec in species_names_set:
    if spec in matching_species_edited_all: 
        marine_all_dict[spec] = 1
    else: 
        marine_all_dict[spec] = 0
    count = count+1
    if count == 300000: 
        print(300000)
    if count == 600000:
        print(600000)
    if count == 1200000:
        print(1200000)

df['marine_all'] = df['ORGANISM'].map(marine_all_dict)

300000
600000
1200000

In [29]:
df[(df['marine'] == 0) & (df['marine_alt'] == 1)]

,ACCESSION,PRIMARY_PMID,PRIMARY_DOI,PRIMARY_PMCID,TAXID,ORGANISM,id_select,skingdom,species,genus,class,crops,pathogens,marine,marine_alt,marine_all
45,ML186446,NaN,NaN,NaN,74909.0,Cuora amboinensis,NaN,Eukaryota,Cuora amboinensis,Cuora,NaN,0,0,0,1,1
115,KM077217,NaN,NaN,NaN,1569789.0,Stegastes sanctipauli,NaN,Eukaryota,Stegastes sanctipauli,Stegastes,Actinopteri,0,0,0,1,1
191,MK001165,NaN,NaN,NaN,178576.0,Labeobarbus gananensis,NaN,Eukaryota,Labeobarbus gananensis,Labeobarbus,Actinopteri,0,0,0,1,1
504,KQ052229,NaN,NaN,NaN,9923.0,Capra aegagrus,NaN,Eukaryota,Capra aegagrus,Capra,Mammalia,0,0,0,1,1
561,MF372680,NaN,NaN,NaN,70285.0,Thymallus arcticus,NaN,Eukaryota,Thymallus arcticus,Thymallus,Actinopteri,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36740200,MW143048,NaN,NaN,NaN,2924052.0,Bythaelurus lutarius,NaN,Eukaryota,Bythaelurus lutarius,Bythaelurus,Chondrichthyes,0,0,0,1,1
36749374,MW143050,NaN,NaN,NaN,2924052.0,Bythaelurus lutarius,NaN,Eukaryota,Bythaelurus lutarius,Bythaelurus,Chondrichthyes,0,0,0,1,1
36754581,MW673776,NaN,NaN,NaN,143294.0,Anodonta anatina,NaN,Eukaryota,Anodonta anatina,Anodonta,Bivalvia,0,0,0,1,1
36755323,MW675805,NaN,NaN,NaN,143294.0,Anodonta anatina,NaN,Eukaryota,Anodonta anatina,Anodonta,Bivalvia,0,0,0,1,1
36759969,MW143057,NaN,NaN,NaN,2924052.0,Bythaelurus lutarius,NaN,Eukaryota,Bythaelurus lutarius,Bythaelurus,Chondrichthyes,0,0,0,1,1

##### alt but not in original: 
1) wrong: Amboina box turtle --> freshwater not really saltwater it seems https://en.wikipedia.org/wiki/Amboina_box_turtle
2) correct: Stegastes sanctipauli --> marine fish https://en.wikipedia.org/wiki/Stegastes_sanctipauli
3) wrong: Labeobarbus gananensis --> bit unclear but seemingly a freshwater fish
4) wrong: Capra aegagrus --> simply a goat, not aquatic at all --> in here under group ungulates & whales for some reason
5) wrong: Thymallus arcticus	--> freshwater fish

In [31]:
df_clean = pd.read_csv(path+R'processed_data/acc_id.csv', index_col = 0)

In [32]:
len(set(df_clean['id_select']))

104009

In [ ]:
#the difference in numbers is probably because for some I could not get info from the Lens?

In [33]:
df = pd.merge(df, df_clean[['ACCESSION','id_select']], how = 'left')

In [34]:
df[['ACCESSION','id_select','TAXID','species','skingdom','crops','pathogens', 'marine', 'marine_alt', 'marine_all']].to_csv(path+R'processed_data/gr_types_test.csv')

### 3. Add everything to the regression df

In [77]:
#df = pd.read_csv(path+R'processed_data/gr_types.csv', index_col = 0)

C:\Users\a494-nipw010\AppData\Local\Temp\ipykernel_18696\3509829030.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path+R'processed_data/gr_types.csv', index_col = 0)

In [79]:
df_extract_com = pd.read_csv(path+R'processed_data\extractivism_com3.csv', index_col = 0)

In [81]:
#transform skingdom column into binary variables
df_skingdom_dummies = pd.get_dummies(df['skingdom'], dtype=float)
df['Archaea'] = df_skingdom_dummies['Archaea']
df['Bacteria'] = df_skingdom_dummies['Bacteria']
df['Viruses'] = df_skingdom_dummies['Viruses']
df['Eukaryota'] = df_skingdom_dummies['Eukaryota']

In [89]:
# Initialize a dictionary to store entailment columns
entailment_columns = ['Eukaryota','Bacteria','Archaea','Viruses', 'marine', 'pathogens', 'crops']  # Add other categories as needed, 'marine', 'crops' , 'Viruses',
entails = {col: [] for col in entailment_columns}

# Group the df_ids DataFrame by 'id_select' to perform calculations in bulk
grouped_df = df.groupby('id_select')
selected_ids = list(set(df['id_select']))

# For each identifier, calculate entailments for all categories at once
nr = 1
for identifier in df_extract_com['id_select']:
    if identifier in selected_ids:
        # Select the group for the current identifier
        df_id_select = grouped_df.get_group(identifier)

        # Check each category and store entailment as 1 if any rows contain a positive value
        for category in entailment_columns:
            entails[category].append(int((df_id_select[category] > 0).any()))
    else: 
        for category in entailment_columns:
            entails[category].append('flawed_id')
    
    if nr in range(0,100000,100):
        print(nr)
    nr = nr+1
    
# Convert dictionary to DataFrame if needed
entails_df = pd.DataFrame(entails)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000
34100
34200
34300
34400
34500
34600
34700
34800
34900
35000
35100
35200
35300
35400
35500
35600
35700
35800
35900
36000
36100
36200
36300
36400
36500
36600
36700
36800
36900
37000
37100
37200
37300
37400
37500
37600
37700
37800
37900
38000
38100
38200
38300
38400
38500
38600
38700
38800
38900
39000
39100
39200
39300
39400
39500
39600
39700
39800
39900
40000
40100
40200
40300
40400
40500
40600
40700
40800
40900
41000
41100
41200
41300
41400
41500
41600
41700
41800
41900
42000
42100
42200
42300
42400
42500
42600
42700
42800
42900
43000
43100
43200
43300
43400
43500
43600
43700
43800
43900
44000
44100
44200
44300
44400
44500
44600
44700
44800
44900
45000
45100
45200
45300
45400
45500
45600
45700
45800
45900
46000
46100
46200
46300
46400
46500
46600
46700
46800
46900
47000
47100
47200
47300
47400
47500
47600
47700
47800
47900
48000
48100
48200
48300
48400
48500
48600
48700
48800
48900
49000
49100
49200
49300
49400
49500
49600
49700
49800
49900
50000
50100
50200
50300
50400
50500
50600
50700
50800
50900
51000
51100
51200
51300
51400
51500
51600
51700
51800
51900
52000
52100
52200
52300
52400
52500
52600
52700
52800
52900
53000
53100
53200
53300
53400
53500
53600
53700
53800
53900
54000
54100
54200
54300
54400
54500
54600
54700
54800
54900
55000
55100
55200
55300
55400
55500
55600
55700
55800
55900
56000
56100
56200
56300
56400
56500
56600
56700
56800
56900
57000
57100
57200
57300
57400
57500
57600
57700
57800
57900
58000
58100
58200
58300
58400
58500
58600
58700
58800
58900
59000
59100
59200
59300
59400
59500
59600
59700
59800
59900
60000
60100
60200
60300
60400
60500
60600
60700
60800
60900
61000
61100
61200
61300
61400
61500
61600
61700
61800
61900
62000
62100
62200
62300
62400
62500
62600
62700
62800
62900
63000
63100
63200
63300
63400
63500
63600
63700
63800
63900
64000
64100
64200
64300
64400
64500
64600
64700
64800
64900
65000
65100
65200
65300
65400
65500
65600
65700
65800
65900
66000
66100
66200
66300
66400
66500
66600
66700
66800
66900
67000
67100
67200
67300
67400
67500
67600
67700
67800
67900
68000
68100
68200
68300
68400
68500
68600
68700
68800
68900
69000
69100
69200
69300
69400
69500
69600
69700
69800
69900
70000
70100
70200
70300
70400
70500
70600
70700
70800
70900
71000
71100
71200
71300
71400
71500
71600
71700
71800
71900
72000
72100
72200
72300
72400
72500
72600
72700
72800
72900
73000
73100
73200
73300
73400
73500
73600
73700
73800
73900
74000
74100
74200
74300
74400
74500
74600
74700
74800
74900
75000
75100
75200
75300
75400
75500
75600
75700
75800
75900
76000
76100
76200
76300
76400
76500
76600
76700
76800
76900
77000
77100
77200
77300
77400
77500
77600
77700
77800
77900
78000
78100
78200
78300
78400
78500
78600
78700
78800
78900
79000
79100
79200
79300
79400
79500
79600
79700
79800
79900
80000
80100
80200
80300
80400
80500
80600
80700
80800
80900
81000
81100
81200
81300
81400
81500
81600
81700
81800
81900
82000
82100
82200
82300
82400
82500
82600
82700
82800
82900
83000
83100
83200
83300
83400
83500
83600
83700
83800
83900
84000
84100
84200
84300
84400
84500
84600
84700
84800
84900
85000
85100
85200
85300
85400
85500
85600
85700
85800
85900
86000
86100
86200
86300
86400
86500
86600
86700
86800
86900
87000
87100
87200
87300
87400
87500
87600
87700
87800
87900
88000
88100
88200
88300
88400
88500
88600
88700
88800
88900
89000
89100
89200
89300
89400
89500
89600
89700
89800
89900
90000
90100
90200
90300
90400
90500
90600
90700
90800
90900
91000
91100
91200
91300
91400
91500
91600
91700
91800

In [90]:
df_extract_com_type = df_extract_com.copy()
df_extract_com_type = df_extract_com_type.join(entails_df)

In [91]:
df_extract_com_type.to_csv(path+R'processed_data\extractivism_com3_type_test3.csv')

### trash

In [ ]:
#df_nocov = df[df['TAXID'] != 2697049.0]

In [ ]:
has_pubs = []
for pub in list(df['PRIMARY_PMID']):
    if pd.isna(pub):
        has_pubs.append('no_pub')
    else:
        has_pubs.append('has_pub')
df['has_pub'] = has_pubs

In [ ]:
has_coors = []
for coor in list(df['LAT_LON']):
    if pd.isna(coor):
        has_coors.append('no_coor')
    else:
        has_coors.append('has_coor')
df['has_coor'] = has_coors

In [ ]:
#genus

In [ ]:
df_share_vis = df[['has_pub','skingdom','genus']].dropna()
df_share_vis['count'] = 1
# Create a column for percentage shares
#df_share_vis['percentage'] = df_share_vis['count'] / df_share_vis['count'].sum() * 100

# Create the treemap
fig = px.treemap(
    df_share_vis, 
    path=['has_pub','skingdom','genus'],  # Hierarchical categories
    values='count',  # Values for sizes
    color='skingdom',  # Optional: Color based on values
    #hover_data={'percentage': ':.2f%'},  # Show percentage shares on hover
)

# Update layout to show percentage shares in labels
fig.update_traces(textinfo='label+value+percent entry')
fig.update_traces(root_color="lightgrey")

# Show the treemap
fig.show()

# Save as a static image 
fig.write_image(path+R"plots\species_treemap_genus_pubs.svg")  # You can also use .jpg, .pdf, .png
fig.write_image(path+R"plots\species_treemap_genus_pubs.pdf")  # You can also use .jpg, .pdf, .png
# OR, save as an interactive HTML file
#fig.write_html("treemap_plot.html")

In [ ]:
df_share_vis = df[['has_pub','skingdom','genus']].dropna()
df_share_vis['count'] = 1
# Create a column for percentage shares
#df_share_vis['percentage'] = df_share_vis['count'] / df_share_vis['count'].sum() * 100

# Create the treemap
fig = px.treemap(
    df_share_vis, 
    path=['skingdom','genus'],  # Hierarchical categories
    values='count',  # Values for sizes
    color='skingdom',  # Optional: Color based on values
    #hover_data={'percentage': ':.2f%'},  # Show percentage shares on hover
)

# Update layout to show percentage shares in labels
fig.update_traces(textinfo='label+value+percent entry')
fig.update_traces(root_color="lightgrey")
fig.update_layout(
    width=1200,  # Set the desired width
    height=800   # Set the desired height
)
# Show the treemap
fig.show()

# Save as a static image 
fig.write_image(path+R"plots\species_treemap_genus.svg")  # You can also use .jpg, .pdf, .png
fig.write_image(path+R"plots\species_treemap_genus.pdf")  # You can also use .jpg, .pdf, .png
# OR, save as an interactive HTML file
#fig.write_html("treemap_plot.html")

In [ ]:
# class
df_share_vis = df[['has_pub','skingdom','class']].dropna()
df_share_vis['count'] = 1
# Create a column for percentage shares
#df_share_vis['percentage'] = df_share_vis['count'] / df_share_vis['count'].sum() * 100

# Create the treemap
fig = px.treemap(
    df_share_vis, 
    path=['has_pub','skingdom','class'],  # Hierarchical categories
    values='count',  # Values for sizes
    color='skingdom',  # Optional: Color based on values
    #hover_data={'percentage': ':.2f%'},  # Show percentage shares on hover
)

# Update layout to show percentage shares in labels
fig.update_traces(textinfo='label+value+percent entry')
fig.update_traces(root_color="lightgrey")

# Show the treemap
fig.show()

# Save as a static image 
fig.write_image(path+R"plots\species_treemap_class_pubs.svg")  # You can also use .jpg, .pdf, .png
fig.write_image(path+R"plots\species_treemap_class_pubs.pdf")  # You can also use .jpg, .pdf, .png
# OR, save as an interactive HTML file
#fig.write_html("treemap_plot.html")

In [ ]:
df_share_vis = df[['has_pub','skingdom','class']].dropna()
df_share_vis['count'] = 1
# Create a column for percentage shares
#df_share_vis['percentage'] = df_share_vis['count'] / df_share_vis['count'].sum() * 100

# Create the treemap
fig = px.treemap(
    df_share_vis, 
    path=['skingdom','class'],  # Hierarchical categories
    values='count',  # Values for sizes
    color='skingdom',  # Optional: Color based on values
    #hover_data={'percentage': ':.2f%'},  # Show percentage shares on hover
)

# Update layout to show percentage shares in labels
fig.update_traces(textinfo='label+value+percent entry')
fig.update_traces(root_color="lightgrey")

# Show the treemap
fig.show()

# Save as a static image 
fig.write_image(path+R"plots\species_treemap_class.svg")  # You can also use .jpg, .pdf, .png
fig.write_image(path+R"plots\species_treemap_class.pdf")  # You can also use .jpg, .pdf, .png
# OR, save as an interactive HTML file
#fig.write_html("treemap_plot.html")